<% @entries.each do |entry| %>
  <% entryUrl = "/entry/" + entry.publish_date.strftime("%Y/%m/%d/#{entry.id}") %>
  <article class="entriesItem">
    <h1 class="title"><a href="<%= entryUrl %>"><%= entry.title %></a></h1>
    <!-- 詳細 -->
    <ul class="detail">
      <li class="item date"><%= entry.publish_date.strftime("%Y-%m-%d") %></li>
      <li class="item author"><%= entry.user.name %></li>
    </ul>
    <div class="content">
      <!-- アイキャッチ -->
      <div class="eyeCatch">
        <img src="<%= entry.eye_catch_image_url %>" alt="">
      </div>
      <!-- ヘッドライン -->
      <div class="headline">
        <%= Nokogiri::HTML(entry.content).inner_text.truncate(100) %>
      </div>
    </div>
    <!-- 続きを見るボタン -->
    <a class="more" href="<%= entryUrl %>">続きを読む</a>
  </article>
<% end %>
<%= will_paginate(
  @entries,
  :inner_window => 1,
  :outer_window => 1,
  :previous_label => '前へ',
  :next_label => '次へ')
%>
