<link href="/css/index.css" rel="stylesheet">
<div id="wrapper">
  <div id="content">
    <form action="/api/v1/entry" method="post">
      <input type="hidden" name="id" value="<%= @entry.id %>" />
      <p>タイトル：<input type="text" name="title" size="40" value="<%= @entry.title %>"></p>
      <p>キャッチ：<input type="text" name="catch" size="40" value="<%= @entry.title %>"></p>
      <p>アイキャッチ：<input type="text" name="eye_catching" size="40" value="<%= @entry.title %>"></p>
      <textarea name="content" rows="4" cols="40" wrap="off"><%= @entry.content %></textarea>
      <p><input type="submit" value="送信" /></p>
    </form>
  </div>
</div>
