<link href="/css/entry.css" rel="stylesheet">
<%= erb :"module/_nav" %>
<div id="wrapper">
  <%= erb :"module/_header" %>
  <div id="content">
    <div id="main">
      <%= erb :"module/_entry" %>
    </div>
    <aside id="aside">
      <%= erb :"module/_entry_aside" %>
    </aside>
  </div>
</div>
<%= erb :"module/_footer" %>
