<script src="/assets/js/top.js"></script>
<link href="/assets/css/index.css" rel="stylesheet">
<%= erb :"module/_nav" %>
<div id="wrapper">
  <%= erb :"module/_header" %>
  <div id="content">
    <div id="main">
      <%= erb :"module/_entries" %>
    </div>
    <aside id="aside">
      <%= erb :"module/_entries_aside" %>
    </aside>
  </div>
</div>
<%= erb :"module/_footer" %>
